beautifulsoup4==4.12.3
boto3>=1.28.57
inquirerpy==0.3.4
openai==1.44.0
pyperclip==1.9.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
pydantic==2.9.1
pydantic_core==2.23.3
docarray==0.40.0
Pygments==2.18.0
python-dotenv==1.0.1
dill==0.3.8
litellm==1.44.22
tiktoken==0.7.0
pyinstaller==6.10.0
python-magic==0.4.27
pathspec==0.12.1
