beautifulsoup4==4.12.3
boto3>=1.28.57
inquirerpy==0.3.4
openai==1.35.9
pyperclip==1.8.2
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
pydantic==2.7.3
pydantic_core==2.18.4
docarray==0.40.0
Pygments==2.18.0
python-dotenv==1.0.1
dill==0.3.6
litellm==1.40.19
tiktoken
pyinstaller==6.8.0