beautifulsoup4==4.12.3
boto3>=1.28.57
inquirerpy==0.3.4
openai==1.40.3
pyperclip==1.9.0
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.29
langchain-openai==0.1.21
langchain-text-splitters==0.2.2
pydantic==2.8.2
pydantic_core==2.20.1
docarray==0.40.0
Pygments==2.18.0
python-dotenv==1.0.1
dill==0.3.8
litellm==1.43.7
tiktoken
pyinstaller==6.10.0
python-magic
pathspec
